    <div class="row">
        <div class="col-sm-6">
                <div class="panel panel-primary">
                        <div class="panel-heading"> Search job </div>
                            <div class="panel-body">
                                    <input type="text" ng-model="search.value" placeholder="Enter keyword">
                                    <input type="button" ng-click="searchValue()" value="Search"> 
                                    <input type="button" ng-click="resetValue()" value="Reset">
                            </div>
                </div>  
                <div class="panel panel-primary" ng-if="isTxtValue">
                        <div class="panel-heading" > {{TxtValue}}
                        </div>
                </div>  
        </div>
        <div class="col-sm-6">
                <div class="panel panel-primary">
                        <div class="panel-heading"> Your save job </div>
                            <div class="panel-body">
                                <input type="button" ng-click="saveJobs()" value="saved jobs">
                            </div>
                </div>
        </div>
    </div>